<div class="card shadow-sm">
    <img class="bd-placeholder-img card-img-top" width="100%" src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/sausage-ragu-a4e1460.jpg?quality=90&webp=true&resize=375,341" />

    <div class="card-body">
        <p class="card-text">
            <strong>Name of the ingredient</strong>
            <strong>{{15 | currency}}</strong>
        </p>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button (click)="addToCart()" type="button" class="btn btn-sm btn-primary">Add to cart</button>
          <button (click)="getAllIngredients()" type="button" class="btn btn-sm btn-secondary">View Ingredients</button>
        </div>
        
      </div>
    </div>
  </div>
